
/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  border-top: 1px solid #EAEAEA;
  padding: 1em .5em;
}

.region-count-1 /* Incremental count for each block in the region */ {
  border-top: none;
}

.block h2.title /* Block title */ {
  color: #619FDE;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: left; /* LTR */
}

.block h2.title a,
.block h2.title a:hover {
  border: none;
  color: #619FDE;
}
