
/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */ {
  margin: 1em 0;
}

.comment /* Wrapper for a single comment */ {
  border: 1px solid #EAEAEA;
  margin: 1em 0 0;
  padding: .5em;
}

.comment-unpublished /* Unpublished comments */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.new /* "New" marker for comments that are new for the current user */ {
  color: #C00;
}

.comment .picture /* The picture of the comment author */ {
  border: none;
  float: right; /* LTR */
  margin: 0 0 .5em .5em; /* LTR */
}

.comment .submitted /* The "posted by" information */ {
  background: url(../images/calendar.png) left center no-repeat; /* LTR */
  font-size: 1em;
  padding-left: 18px; /* LTR */
}

.comment .content /* Comment's content wrapper */ {
  margin: .6em 0;
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */ {
  color: #AAA;
  float: right;
  line-height: 20px;
}

.indented /* Nested comments are indented */ {
  margin-left: 25px; /* LTR */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
  background-color: #FFFFEA; /* Drupal core uses a #ffffea background */
}
