
/**
 * @file
 * Form Styling
 */


.form-checkboxes,
.form-item,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item select.error, /* Highlight the form elements that caused a form submission error */
.form-item textarea.error {
  border: 2px solid #C00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #C00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}


/*
 * Search (search-theme-form.tpl.php)
 */
#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Search (search-block-form.tpl.php)
 */
#edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: center;
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */
#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  text-align: center;
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-left: 0; /* LTR */ /* Un-do some of the padding on the ul list. */
  margin-top: 1em;
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -1em; /* LTR */ /* Un-do all of the padding on the ul list. */
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-elements.css, but restore them for the admin
 * section of the site.
 */
form tbody {
  border-top: 1px solid #CCC;
}

form th,
form thead th {
  border-bottom: 3px solid #CCC;
  padding-right: 1em; /* LTR */
  text-align: left; /* LTR */
}

form tbody th {
  border-bottom: 1px solid #CCC;
}
