
/**
 * @file
 * HTML Element Styling
 *
 * Ok, I admit it. I fooled you. This isn't a "reset" stylesheet. Instead this
 * is the place where you should set (not reset) the default styling for all
 * HTML elements.
 *
 * @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 * @see http://snook.ca/archives/html_and_css/no_css_reset/
 */


/*
 * Fonts
 *
 * Our font size and line height declarations are based on the following ALA
 * article:
 *   http://www.alistapart.com/articles/howtosizetextincss
 *
 * All modern browsrs use a 16px default font size. Specifying the font-size
 * and line-height in ems (relative to the 16px default font) allows the user
 * to resize the font in the browser and produces the most consistent results
 * across different browsers.
 */
body {
  direction: ltr; /* LTR */
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
}

#skip-link,
#page {
  /* Use a 12.8px base font size with a 20.48px line height */
  font-size: .8em; /* 16px x .8 = 12.8px */
  line-height: 1.6em; /* 12.8px x 1.6 = 20.48px */
}

body,
caption,
option,
legend,
fieldset {
  background: #FFF;
  color: #555;
  font-family: Verdana,'Lucida Grande', Verdana, Helvetica, sans-serif;
}

input {
  font-family: Verdana, sans-serif;
  font-size: 1em;
  line-height: 1em;
}

textarea,
select {
  font-family: Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.6em;
}

code,
pre {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
  font-size: 1.1em; /* Monospace fonts can be hard to read */
}

/*
 * Headings
 */
h1 {
  font-size: 1.75em;
  line-height: 1.3em;
  margin-bottom: 0.5em; /* 0.5em is equavalent to 1em in the page's base font.
                           Remember, a margin specified in ems is relative to
                           the element's font-size, not to the pages' base
                           font size. So, for example, if we want a 1em margin
                           (relative to the base font), we have to divide that
                           length by the element's font-size:
                           1em / 2em = 0.5em */
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 0.667em;
  margin-top: 0.667em; /* Equivalent to 1em in the page's base font: 1 / 1.5 = 0.667em */
}

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.769em;
  margin-top: 0.769em; /* Equivalent to 1em in the page's base font: 1 / 1.3 = 0.769 */
}

h4,
h5,
h6 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-bottom: 0.909em;
  margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
}

/*
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 1em 0;
}

blockquote {
  background: url(../images/blockquote.png) left top no-repeat; /* LTR */
  margin: 1em 2em;
  padding-left: 24px; /* LTR */
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul,
ol {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

.block ul,
.item-list ul /* Drupal overrides */ {
  margin: 1em 0;
  padding: 0 0 0 1em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

ul li {
  list-style-image: url(../images/menu-leaf.png); /* LTR */
}

.item-list ul li {
  line-height: 1.6em;
  list-style-image: url(../images/menu-leaf.png); /* LTR */
  margin: 0 0 .25em .5em;
  padding: 0;
}

li.leaf {
  line-height: 1.6em;
  list-style-image: url(../images/menu-leaf.png); /* LTR */
}

li.expanded {
  line-height: 1.6em;
  list-style-image: url(../images/menu-expanded.png); /* LTR */
}

li.collapsed {
  line-height: 1.6em;
  list-style-image: url(../images/menu-collapsed.png); /* LTR */
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link {
  color: #467AA7;
  font-style: normal;
  text-decoration: none;
}

a:visited {
  color: #233D53;
  font-style: normal;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #F60;
  font-style: normal;
}

a:active {
  color: #233D53;
  font-style: normal;
  text-decoration: none;
}

/*
 * Tables
 *
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
thead th,
tbody th {
  border-bottom: none;
  padding: 0;
  text-align: left; /* LTR */
}

tbody {
  border-top: none;
}

/*
 * Abbreviations
 */
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

abbr.created /* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */ {
  border: none;
  cursor: auto;
  white-space: normal;
}

/*
 * Images
 */
img {
  border: 0;
}

/*
 * Horizontal rules
 */
hr {
  border: 1px solid #666;
  height: 1px;
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
}
