
/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body.two-sidebars { /* minimum 1024x768 for two-side bar */
  min-width: 960px; /* Don't allow the browser to make the site unreadable. */
}

body.no-sidebars, /* minimum support 800x600 */
body.sidebar-first,
body.sidebar-second {
  min-width: 700px; /* Don't allow the browser to make the site unreadable. */
}

#page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 10px;
}


/*
 * Header
 */
#header {
  height: 150px;
}

.region-header {
  clear: both; /* Clear the logo */
}


/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}


/*
 * Content
 */
#content {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
  width: 100%;
}

#content .section,
.no-sidebars #content .section {
  margin: 0;
  padding: 0;
}

.sidebar-first #content .section {
  padding-left: 250px; /* LTR */ /* The width + left margin of .region-sidebar-first. */
  padding-right: 0; /* LTR */
}

.sidebar-second #content .section {
  padding-left: 0; /* LTR */
  padding-right: 250px; /* LTR */ /* The width + right margin of .region-sidebar-second. */
}

.two-sidebars #content .section {
  padding-left: 250px; /* The width + left margin of .region-sidebar-first. */
  padding-right: 250px; /* The width + right margin of .region-sidebar-second. */
}

#content .section {
  margin: 0 10px;
  padding: 0;
}


/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  width: 100%;
}

#navigation ul /* Primary and secondary links */ {
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

#main-menu {
  float: right;
  margin-top: -75px;
}

#secondary-menu {
  float: right;
  margin-top: -130px;
}


/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  margin-right: -250px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
  width: 250px;
}

.region-sidebar-first .section {
  margin: 0 10px;
  padding: 0;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: right; /* LTR */
  margin-left: -250px; /* LTR */ /* Negative value of .region-sidebar-second's width + right margin. */
  margin-right: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
  width: 250px;
}

.region-sidebar-second .section {
  margin: 0 10px;
  padding: 0;
}


/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}
