
/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
#page,
#footer,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}


/*
 * Header
 */
#header {
  height: 150px;
}

.region-header {
  clear: both; /* Clear the logo */
}


/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}


/*
 * Content
 */
#content,
.no-sidebars #content {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
  width: 960px;
}

.sidebar-first #content {
  margin-left: 250px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  width: 710px;
}

.sidebar-second #content {
  margin-left: 0; /* LTR */
  margin-right: -710px; /* LTR */ /* Negative value of #content's width + left margin. */
  width: 710px;
}

.two-sidebars #content {
  margin-left: 250px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -710px; /* LTR */ /* Negative value of #content's width + left margin. */
  width: 460px;
}

#content .section {
  margin: 0 10px;
  padding: 0;
}


/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  width: 100%;
}

#navigation ul /* Primary and secondary links */ {
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

#main-menu {
  float: right;
  margin-top: -75px;
}

#secondary-menu {
  float: right;
  margin-top: -130px;
}

/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
  margin-right: -250px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
  width: 250px;
}

.region-sidebar-first .section {
  margin: 0 10px;
  padding: 0;
}


/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  margin-left: 710px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
  width: 250px;
}

.region-sidebar-second .section {
  margin: 0 10px;
  padding: 0;
}


/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}
