
/**
 * @file
 * Message Styling
 *
 * Sensible styling for Drupal's error/warning/status messages.
 */


div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  background-color: #FFC;
  background-image: url(../images/messages-status.png);
  background-position: 5px 5px; /* LTR */
  background-repeat: no-repeat;
  border: 2px solid #FF7;
  color: #000;
  margin: 0 1em 5px 1em;
  min-height: 21px;
  padding: 5px 5px 5px 35px; /* LTR */
}

div.status /* Normal priority messages */ {
}

div.warning /* Medium priority messages */ {
  background-image: url(../images/messages-warning.png);
  border-color: #FC0;
}

div.warning,
tr.warning {
  background-color: #FFC;
  color: #000; /* Drupal core uses #220 */
}

div.error /* High priority messages. See also the .error declaration in pages.css. */ {
  background-image: url(../images/messages-error.png);
  border-color: #C00;
  border: 1px solid #D77; /* Drupal core uses: 1px solid #d77 */
}

div.error,
tr.error {
  background-color: #FEE;
  color: #900; /* Drupal core uses #200 */
}

div.messages ul {
  margin-bottom: 0;
  margin-top: 0;
}
