
/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}


/*
 * Primary and Secondary menu links
 */
#main-menu {
  list-style: none;
  text-align: center;
  vertical-align: text-bottom;
}

#main-menu li {
  background: none;
  float: left; /* LTR */
  font-size: 1.12em;
  height: 36px;
  line-height: 36px;
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

#main-menu li a,
#main-menu li a:visited {
  border-left: 4px solid #858383; /* LTR */
  color: #FFF;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0 20px 0 5px; /* LTR */
  text-decoration: none;
}

#main-menu li a:hover,
#main-menu li a:active,
#main-menu li a.active {
  border-left: 4px solid #FACD00; /* LTR */
  color: #FFF;
}

#secondary-menu {
  list-style: none;
  text-align: center;
  vertical-align: text-bottom;
}

#secondary-menu li {
  background: none;
  float: left; /* LTR */
  font-size: .9em;
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

#secondary-menu li a,
#secondary-menu li a:visited {
  color: #FACD00;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0 20px 0 0; /* LTR */
  text-decoration: none;
}

#secondary-menu li a:hover {
  color: #FACD00;
  text-decoration: underline;
}
