
/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
  margin-bottom: 2.5em;
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
  border: 1px solid #EAEAEA;
  padding: .5em;
}

.node-unpublished /* Unpublished nodes */ {
  background-color: #FFF4F4; /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  color: #D8D8D8;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node h2.title /* Node title */ {
  border: none;
  color: #64473A;
  display: inline;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1.2em;
}

.node h2.title a,
.node h2.title a:hover {
  border: none;
  color: #64473A;
  font-weight: normal;
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #C00;
}

.node .picture /* The picture of the node author */ {
  border: none;
  float: right; /* LTR */
  margin: 0 0 .5em .5em; /* LTR */
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
  color: #AAA;
  line-height: 20px;
}

.node .submitted /* The "posted by" information */ {
  background: url(../images/calendar.png) left center no-repeat; /* LTR */
  font-size: 1em;
  padding-left: 18px; /* LTR */
}

.node .terms ul.links {
  float: none;
}

.node .terms ul.links li {
  background: url(../images/tag.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

.node .content /* Node's content wrapper */ {
  margin: .6em 0;
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
  color: #AAA;
  float: right;
  font-size: .9em;
  line-height: 20px;
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  background-color: #FFFFEA; /* Drupal core uses a #ffffea background */
}


/**
 * Special image mapping
 */
.node ul.links li.node_read_more {
  background: url(../images/article.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}

.node ul.links li.upload_attachments {
  background: url(../images/briefcase.png) left center no-repeat; /* LTR */
  padding-left: 18px; /* LTR */
}
