
/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


#page-wrapper {
  background: #FFF url(../images/page-wrapper.png) repeat-x top left;
}

.two-sidebars #sidebar-first-border,
.sidebar-first #sidebar-first-border {
  float: left;
  width: 100%;
  background: url(../images/sidebar-first-border.png) repeat-y top left;
}

.two-sidebars #sidebar-second-border,
.sidebar-second #sidebar-second-border {
  float: left;
  width: 100%;
  background: url(../images/sidebar-second-border.png) repeat-y top right;
}

#footer-wrapper {
  background: #191718;
}
