
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}


/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  background-color: #666;
  color: #FFF;
  display: block;
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: -500px;
  width: 1px;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  height: auto;
  padding: 2px 0 3px 0;
  position: static;
  width: 100%;
}


/*
 * Header
 */
#header {
  color: #FFF;
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  margin: 60px 10px 0 0; /* LTR */
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left; /* LTR */
  margin: 60px 0 0;
  padding: 0;
}

h1#site-name,
div#site-name /* The name of the website */ {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Geneva, sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: 0 0 5px;
  padding: 0;
}

#site-name a:link,
#site-name a:visited {
  color: #FFF;
}

#site-name a:hover,
#site-name a:focus {
  color: #FACD00;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  color: #CCC;
}


/*
 * Main (container for everything else)
 */
#main-wrapper {
  margin: 15px 0;
}


/*
 * Content
 */
.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h3.title /* Comment title */ {
  border: none;
  display: inline;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1.2em;
}

h3.title {
  font-size: 1.5em;
}

h1.title a, h1.title a:hover,
h3.title a, h3.title a:hover {
  border: none;
  color: #64473A;
  font-weight: normal;
}

h2.title /* Block title or the title of a piece of content when it is given in a list of content */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  background-color: #FFF;
}

tr.even td.active {
  background-color: #E6F1F7;
}

tr.odd {
  background-color: #F5F5F5;
}

tr.odd td.active {
  background-color: #DDECF5;
}

tr.drag {
  background-color: #FFFFF0;
}

tr.drag-previous {
  background-color: #FFD;
}

a.tabledrag-handle:hover {
  border: none;
}

div.warning,
tr.warning /* Medium priority messages */ {
  border: 1px solid #F0C020; /* Drupal core uses: 1px solid #f0c020 */
}

.error /* Errors that are separate from div.messages status messages. */ {
  color: #E55; /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  color: #E09010; /* Drupal core uses a #e09010 background */
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}


/*
 * Footer
 */
#footer {
  color: #5B5B5B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  font-weight: normal;
  line-height: 2.5em;
  text-align: center;
}

#footer a {
  color: #FACD00;
  font-weight: normal;
}

#footer a:hover {
  color: #FACD00;
  font-weight: normal;
  text-decoration: underline;
}


/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}


/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}


/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
